.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.sidebar-icon{
    color: grey;
    font-size: large;
}
.sidebar-title{
    flex:1;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
}
.sidebar-row:hover{
    background-color: #292929;;
    cursor: pointer;
    border-radius: 12px;
}
.sidebar-row:hover > .sidebar-icon{
    color: red;
}
.sidebar-row:hover > .sidebar-title{
    font-weight: bold;
}
.sidebar-row.selected{
    background-color: #292929;
    border-radius: 12px;
}
.sidebar-row.selected > .sidebar-title{
    font-weight: bold;
}
.sidebar-row.selected > .sidebar-icon{
    color: red;
}