
.background{
    background-color: #dedede;
    height: 128vh;
    background-color: #131319;
    color: white;
}
.login-box{
    justify-content: center;
    display: flex;
}
.login-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.3rem;
    border: 0px solid #ff8080;
    padding: 3rem;
    box-shadow: 0 0 15px #3c3c3c;
}
.form__input{
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #686868;
    border-radius: 6px;
    background: transparent;
    margin-bottom: 0.5rem;
    color: white;
}
.login-credals{
    position: relative;
}
.toggle{
    color: #a22c2c;
    font-size: 1.3rem;
    position: absolute;
    /* bottom: -9%; */
    /* right: 5%; */
    right: 4%;
    border: -15%;
    bottom: 51%;
  }
.pd{
    font-size: 1.3rem;
    color: #ff4c4c;
    font-weight: 600;
    margin-bottom: 1rem;
}
.form-err{
    display: block;
    width: 25rem;
    color: #3f51b5;
}
.form__field{
    display: flex;
    flex-direction: column;
}
.auth-signup-btn{
    width: fit-content;
    padding: 0.5rem 10.7rem;
    background-color: #b7372e;
    border: none;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.guest-login-btn{
    width: fit-content;
    padding: 0.5rem 7.7rem;
    background-color: #b7372e;
    border: none;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.logo{
    width: 8rem;
}
.auth-icon{
    margin-right: 1rem;
}
/* .signup-eye-btn{
    position: absolute;
    bottom: 20%;  
} */