
.background{
    flex: 1;
    height: 128vh;
    background-color: #212121;
    color: white;
    border-left: 2px solid #454545;
}
.login-box{
    justify-content: center;
    display: flex;
}
.login-content {
    background-color: #dddddd;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1.3rem;
    border: 0px solid #ff8080;
    padding: 2.5rem;
    border-radius: 12px;
}
.form__input{
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #686868;
    border-radius: 6px;
    background: transparent;
    margin-bottom: 0.5rem;
    color: rgb(118, 118, 118);
}
.login-credals{
    position: relative;
}
.toggle{
    color: #a22c2c;
    font-size: 1.3rem;
    position: absolute;
    /* bottom: -9%; */
    /* right: 5%; */
    right: 4%;
    border: -15%;
    bottom: 51%;
  }
.pd{
    font-size: 1.3rem;
    color: #009688;
    font-weight: 600;
    margin-bottom: 1rem;
}
.form-err{
    display: block;
    width: 25rem;
    color: #db2020;
}
.form__field{
    display: flex;
    flex-direction: column;
    color: #454545;
}
.auth-signup-btn{
    width: fit-content;
    padding: 0.5rem 10.7rem;
    background-color: #009688;
    border: none;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.guest-login-btn{
    width: fit-content;
    padding: 0.5rem 7.7rem;
    background-color: #009688;
    border: none;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.guest-login-btn:hover{
    cursor: pointer;
    background-color: #00ab9c;
}
.auth-signup-btn:hover{
    cursor: pointer;
    background-color: #00ab9c;
}
.logo{
    width: 8rem;
}
.auth-link{
    color: #009688;
}
.auth-link:hover{
    transform: scale(1.05);
}
.text--center{
    margin-top: 1rem;
    color: #454545;
}

/* .signup-eye-btn{
    position: absolute;
    bottom: 20%;  
} */