.navbar--left{
    display: flex;
    align-items: center;
    margin-left: 1.4rem;
    
}
.navbar--logo{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 76%;
}
.logo-size{
    width: 12%;
}
.small-txt{
    margin-left: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    color: #00d4c1;
    font-size: 1.1rem;
    /* background-color: #d00b0b;; */
    /* padding: .3rem; */
    /* font-size: 11px; */
    /* border-radius: 7px; */
}
.logo-txt{
    font-weight: 700;
    color: white;
    font-size: 0.9rem;
}
.bg-color{
    margin-left: -5px;
}
.navbar--input{
    display: flex;
    align-items: center;
    /* border: 1px solid grey; */
    width: 30%;
    margin-right: 10rem;
    border: 1px solid #616161;
}
.navbar--input>input{
    flex:1;
    border: none;
    padding: 0.7rem;
    background-color: #253331;
    outline: none;
    color: white;
    font-size: 1.1rem;
}
.navbar--icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.1rem;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #4a4a4a;;
    background-color: #212121;
    color: white;
}
.search-btn{
    border: none;
    width: 16%;
    border-left: 1px solid #636363;
    background-color: #ebebeb;
    color: rgb(255, 255, 255);
    padding: 0.8rem;
    height: 3rem;
    background-color: #253331;
}